<div class="heim-input-field heim-dropzone sr-hd-input" id="{{identification}}"> 
    <label style="display: inline;">{{label}} <i class="ui-icon ui-icon-info sr-tooltip-dialog" title="{{tooltip}}"> </i></label>
	<fieldset class="heim-choicegroup-mi-goe">
    <div>
    <input type="button" name="{{identification}}" value="{{choice1}}" class="sr-choice1-mi-goe buttonInUsage"/>
    </div>
    <div>
    <input type="button" name="{{identification}}" value="{{choice2}}" class="sr-choice2-mi-goe"/>
    </div>
    </fieldset>
    <div class="sliderContainerMiGoe">
	<span class="choiceConceptBoxDescMiGoe">Start:</span>
	<input class="choiceStartValueMiGoe" value="0"></input>
	<span class="choiceConceptBoxDescMiGoe">End:</span>
	<input class="choiceEndValueMiGoe" value="100"></input>
	<span class="choiceConceptBoxDescMiGoe">Step:</span>
	<input class="choiceStepValueMiGoe" value="10"></input>
	<input type="button" value="Use Percentages" class="sr-procentualBinned-mi-goe"/>
	<label style="display: inline;"><i class="ui-icon ui-icon-info sr-tooltip-dialog" title="This will create a categorical variable from a numerical variable by assigning categories of the size of Step between Start (Inclusive) and End (Exclusive). If Percentages is active, the minimal value is treated like 1%, the maximum value as 100% with Start (Exclusive) and End (Inclusive)."> </i></label>
	</div>
	<div class="noSliderContainerMiGoe"></div>
    <span ng-show="instructionMinNodes" class="sr-instruction instructionMinNodes">Drag at least {{min1}} node(s) into the box<br /></span>
    <span ng-show="instructionMaxNodes" class="sr-instruction instructionMaxNodes">Select at most {{max1}} node(s)<br /></span>
    <span ng-show="instructionNodeType" class="sr-instruction">Node(s) do not have the correct type<br /></span>
    <span ng-show="instructionNodePlatform" class="sr-instruction">Nodes must have the same platform</span>
    <div class="sr-drop-input" ng-class="{true:'sr-drop-input-valid', false:'sr-drop-input-invalid'}[conceptGroup.valid]"
        style="overflow-y:auto">
    </div>
    <div style="margin-top: 10px; text-align: right;">
        <input type="button" value="Clear Window" class="sr-drop-btn">
    </div>
</div>
